* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-site__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__item {
  width: 10px;
  height: 10px;
  background-color: red;
}
