* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img,
svg {
  display: block;
  max-width: 100%;
}
header {
  position: absolute;
}

.container {
  max-width: 100%;

  margin: 0 auto;

  @include adaptive-size(mobile) {
    max-width: 320px;
  }
  @include adaptive-size(tablet) {
    max-width: 1024px;
  }
  @include adaptive-size(desktop) {
    max-width: 1680px;
  }
}

.nav-site__list,
.nav-site__palette {
  list-style: none;
}
.nav-site__list {
  display: flex;
  align-items: center;
}

.map__container {
  overflow: scroll;
  height: 100%;
}

.map__box {
  width: 220vw;
}
