* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 100%;

  margin: 0 auto;

  @include adaptive-size(mobile) {
    max-width: 320px;
  }
  @include adaptive-size(tablet-break) {
    max-width: 475px;
  }
  @include adaptive-size(tablet) {
    max-width: 1024px;
  }
  @include adaptive-size(desktop-break) {
    max-width: 1360px;
  }
  @include adaptive-size(desktop) {
    max-width: 1680px;
  }
}
