.container {
  position: relative;
}

.nav-site {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;

  background-color: #000000;
  @include adaptive-size(tablet) {
    background-color: #242424;
  }

  &__list {
    display: flex;
  }
  @include adaptive-size(mobile) {
    height: 58px;
  }
  @include adaptive-size(tablet) {
    height: 154px;
  }
  @include adaptive-size(desktop-break) {
    height: 147px;
  }

  &__item {
    display: flex;
    align-items: flex-end;

    @include adaptive-size(mobile) {
      &:not(:last-child) {
        margin-right: 14px;
      }
    }

    @include adaptive-size(tablet) {
      &:not(:last-child) {
        margin-right: 83px;
      }
    }
    @include adaptive-size(desktop) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &__icon {
    @include adaptive-size(mobile) {
      width: 26px;
      height: 21px;
      &--lake {
        width: 42px;
      }
    }

    @include adaptive-size(tablet) {
      width: 87px;
      height: 70px;
      &--lake {
        width: 142px;
      }
    }
    @include adaptive-size(desktop) {
      width: 59px;
      height: 47px;
      &--lake {
        width: 95px;
      }
    }
  }

  &__label {
    display: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;

    color: #ffffff;

    @include adaptive-size(desktop) {
      display: inline-flex;
    }
  }
}

nav-site__icon--lake {
  @include adaptive-size(mobile) {
    width: 42px;
  }

  @include adaptive-size(tablet) {
    width: 142px;
  }
  @include adaptive-size(desktop) {
    width: 95px;
  }
}

.nav-site__colouring {
  border: 0.3px solid #ffffff;

  &:first-child {
    background-color: #c1c1c1;
  }
  &:nth-child(2) {
    background-color: #565656;
  }
  &:last-child {
    background-color: #000000;
  }

  @include adaptive-size(mobile) {
    width: 8px;
    height: 8px;
    margin-left: 8px;

    margin-top: 3px;
  }
  @include adaptive-size(tablet) {
    width: 17px;
    height: 17px;
    margin-left: 20px;

    margin-top: 7px;
  }
  @include adaptive-size(desktop) {
    width: 16px;
    height: 16px;
    margin-left: 8px;

    margin-top: 6px;
  }
}

.nav-site__list,
.nav-site__palette {
  list-style: none;
}

.map__container {
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
}
.map__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.map {
  &__box {
    width: 220vw;
  }

  &__img {
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
